{% extends 'adminlte/base.html' %}
{% block page_description %}
<h1>AHP Priority Values</h1>
    <form method="post" action="{% url 'priority_values' %}">
        {% csrf_token %}
        <input type="hidden" name="criteria_count" value="{{ criteria_count }}">
        <input type="hidden" name="criteria_names" value="{{ criteria_names }}">
        <h2>Pairwise Comparison</h2>
        <table border="1">
            <tr>
                <th>Parameter 1</th>
                <th>Parameter 2</th>
                <th>Comparison</th>
            </tr>
            {% for i in criteria_count|get_range %}
                {% for j in criteria_count|get_range %}
                    {% if i < j %}
                        <tr>
                            <td><input type="radio" name="isAwrtB_{{i}}_{{j}}" id="" value="True" checked> {{ criteria_names|get_element_by_index:i }} </td>
                            <td><input type="radio" name="isAwrtB_{{i}}_{{j}}" id="" value="False"> {{ criteria_names|get_element_by_index:j }} </td>
                            <td>
                                {% for k in 10|get_range_from_1 %}
                                    <input type="radio" name="comparison_{{ i }}_{{ j }}" value="{{k}}" {% if k == 1 %}checked{% endif %} required>{{k}} 
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
        <button type="submit">Calculate AHP</button>
    </form>

    # Note: Pairwise comparisons for all permutations and combinations have been generated.
{% endblock %}